# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
# allow example env to be committed
!.env.example
.env.*
.venv/
venv/
env/
ENV/

# IDE / Editors
.vscode/
.idea/
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Packaging / build
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type checkers
.mypy_cache/
.pyre/

# Logs
*.log

# Misc
.sass-cache/
.cache/