{% extends "base.html" %}
{% block content %}
<div class="container" data-aos="fade-up" style="text-align: center;">
  <img class="profile-img" src="https://github.com/Smr2005.png" alt="Sameer Shaik" />
  <h1>Sameer Shaik</h1>
  <h3>AI & Data Science | B.Tech @ Aditya College of Engineering</h3>

  <p style="margin-top: 1rem;">🎓 Passionate about solving real-world problems using Artificial Intelligence, IoT, and Machine Learning technologies.</p>
  <p>🖋 Outside tech: Poet and creative writer.</p>
</div>
{% endblock %}
