<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sameer | Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
</head>
<body>
  <nav class="navbar">
    <h1>Sameer</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/certifications">Certifications</a></li>
      <li><a href="/technologies">Technologies</a></li>
      <li><a href="/internships">Internships</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/resume">Contact</a></li>
    </ul>
  </nav>

  {% block content %}{% endblock %}

  <a href="/chat" id="chat-float-btn" title="Ask Sameer Bot!"></a>

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script>AOS.init({ duration: 1000 });</script>
  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
